  .underline-from-left::before {
  content: '';
  position: absolute;
  bottom: -4px; 
  left: 0;
  width: 0;
  height: 2px;
  background-color: #10b981;
  transition: width 0.3s ease-in-out;
}

.underline-from-left:hover::before {
  width: 100%;
}