@import "tailwindcss";
@import "../node_modules/flowbite-datepicker";
@plugin "flowbite/plugin";

.main-content {
  margin-left: 16rem; /* width sidebar: 64 (4rem x 4 = 16rem) */
  margin-top: 4.5rem; /* tinggi navbar: sekitar 4.5rem */
  padding: 1rem;
  min-height: 100vh;
  background-color: #f9fafb; /* optional untuk latar belakang */
}

::-webkit-scrollbar{
  display: none;
}