.discover-card{
  width: 377px;
  height: 170px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: relative;
  display: inline-block;
  transition: transform 0.3s ease;
}

.image-container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.image-container:hover img {
  transform: scale(1.1);
}

.description {
  position: absolute;
  bottom: 10px;
  left: 10px;
}

.country-title {
  color: white;
  font-size: 20px;
  font-weight: bold;
}

.city-title {
  color: white;
  font-size: 14px;
  font-weight: 600;
}

.desc-text {
  color: white;
  font-size: 14px;
  font-weight: 500;
  margin: 0;
}



/* .container {
  padding: 20px;
}

.discover-title {
  color: #1e3a8a;
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 20px;
}

.cards-container {
  display: flex;
  gap: 15px;
  justify-content: flex-start;
}

.discover-card {
  width: 280px;
  height: 170px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: relative;
  display: inline-block;
  transition: transform 0.3s ease;
}

.discover-card:hover .image-container img {
  transform: scale(1.1);
}

.image-container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.description {
  position: absolute;
  bottom: 10px;
  left: 10px;
}

.country-label {
  font-size: 12px;
  font-weight: 500;
  margin-bottom: 5px;
}

.city-title {
  color: #189AB4;
  font-size: 16px;
  font-weight: 600;
  margin: 0 0 5px 0;
}

.desc-text {
  color: #f28c38;
  font-size: 14px;
  font-weight: 500;
  margin: 0;
} */