.hero-section.home {
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  min-height: 120vh;
  width: 100%;
  /* display: flex; */
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  overflow: hidden;
  margin-top: 0 !important;
}

@media (max-width: 768px) {
  .hero-section {
    min-height: 20vh; 
    background-position: center center;
  }
}

@media (max-width: 480px) {
  .hero-section {
    min-height: 120vh; 
    background-position: center center;
  }

  .cardform {
    margin-top: -40px;
    justify-items: center;
  }
}